<div class="m-3">
    <p class="fw-lighter fs-4" style="color: grey;">No animals to show...</p>
    <p class="fw-lighter fs-6" style="color: grey;">
        Try adding animals to this category in the admin page and check again
    </p>
</div>